body {
  background-color: lightgrey;
}

header {
  width: 100%;
  background: darkred;
}
h1{
  text-align: center;
  font-size: 55pt;
}

.about{
  margin: auto;
  width: 45%;
  text-align: center;
  font-size: 18px;
}
.button{
  background: steelblue;
}

.gridContainer{
  display: grid;
  margin-top: 40px;
  border: 3px solid black;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 120px 120px 120px;
  grid-gap: 10px;
  justify-content: center;


}
#businessText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#technologyText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#scienceText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#worldPoliticsText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#healthText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#natureText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#artsText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#usPoliticsText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#sportsText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#cultureText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#entertainmentText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
#weatherText{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
}
